
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498295776929'); /* IE9*/
  src: url('iconfont.eot?t=1498295776929#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498295776929') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498295776929') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498295776929#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before { content: "\e619"; }

.icon-icon07:before { content: "\e612"; }

.icon-guanbi:before { content: "\e672"; }

.icon-icon-search:before { content: "\e67a"; }

.icon-fanhuidingbu1:before { content: "\e605"; }

.icon-jiantou1:before { content: "\e60b"; }

.icon-caidanshouji:before { content: "\e663"; }

.icon-left:before { content: "\e601"; }

.icon-jtou2:before { content: "\e653"; }

.icon-caidan:before { content: "\e60e"; }

